<div>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
        <%- include('./_form_fields') %>

        <button type="submit">Update</button>
        <a href="/books/<%= book._id %>">Cancel</a>
    </form>
</div>
