<div>
    <form action="/books" method="POST" enctype="multipart/form-data">
        <%- include('./_form_fields.ejs') %>

        <a href="/">Cancel</a>
        <button>Create & post</button>
    </form>
</div>