<div class="main">
    <h1>There are many books from many authors</h1>

    <div class="main-wrapper">
        <% books.forEach( book => { %>
            <a href="/books/<%= book._id %>">
                <div class="main-item">
                    <img src="<%= book.coverImagePath %>" alt="Loading...">
                </div>
            </a>
        <% }) %>
    </div>
</div>