<div>
    <h3>Add new author</h3>

    <form action="/authors" method='POST'>

        <%- include('./_form_fields.ejs', { label: 'Enter name' }) %>

        <a href="/authors">Go back</a>

        <button type="submit">Create</button>
    </form>
</div>